# Telegram bot library
python-telegram-bot==20.0

# Pyrogram library (for Telegram bot with async features)
pyrogram==2.0.44

# TgCrypto (Optional but recommended for faster Pyrogram performance)
TgCrypto==1.2.5
